body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E4E7F3;
}

.light-source {
    position: absolute;
    cursor: move;
    /* outline: 1px solid red; */
}

.light-source:hover {
    outline: 1px solid #18A0FB;
}

.box {
    width: 208px;
    height: 208px;
    background: linear-gradient(224.05deg, #FFFFFF 100%, #E4E7F3 100%);
    box-shadow: 0 0 0px rgba(117, 129, 171, 0.5);
    border-radius: 24px;
    /* outline: 1px solid red; */
}